.user-profile-wallpaper-caption {
  width: 100%;
  height: 260px; 
  }

.user-profile-wallpaper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width: 990px) {
  .user-profile-wallpaper-caption {
    width: 100%;
    height: 180px; 
    }
}