.user-nav-photos {
    width: 25%;
    border-radius: 5px;
}

.user-link {
    width: 100%;
    text-decoration: none;
    color: #777d74;
    padding: 1.5rem 0;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.active {
    background-color: #50b5ff;
    color: white;
}
