.user-profile {
    grid-area: main;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.user-profile-wallpaper-caption {
    height: 33%; 
  }

.user-profile-wallpaper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.user-socialbar {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin-top: -5px;
    position: relative;
}

.main-username {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin: 0 auto;
    width: 33%;
}

.main-user-photo-caption {
    width: 8.125rem;
    height: 8.125rem;
    position: absolute;
  }

.main-user-photo {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: -8.2rem auto 2rem auto;
}

.user-socialbar-icons {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    width: 33%;
}

.fa-facebook,
.fa-twitter,
.fa-instagram-square,
.fa-google-plus-square,
.fa-youtube,
.fa-linkedin {
    font-size: 2rem;
}

.fa-facebook:hover,
.fa-facebook:focus,
.fa-twitter:hover,
.fa-twitter:focus,
.fa-instagram-square:hover,
.fa-instagram-square:focus,
.fa-google-plus-square:hover,
.fa-google-plus-square:focus,
.fa-youtube:hover,
.fa-youtube:focus,
.fa-linkedin:hover,
.fa-linkedin:focus {
    color: #50b5ff;
    transition: 0.2s all ease-in-out;
}

.user-followers {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
    width: 33%;
    justify-content: flex-end;
}

.user-followers-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    font-size: 14px;
}

.user-followers-item-title {
    margin-bottom: 0;
}

.user-followers-item-number {
    margin-top: 0;
    color:  #777d74;;
}

